<div class="text-center">
    <img src="../../../assets/imagenes/cineeeee.jpg" class="img-fluid" alt="Responsive image">
</div>


<div class="container">
    <div class="row justify-content-start">
        <div class="col-3">
            <br>
            <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Peliculas</a>
        </div>
        <div class="col-3">
            <br>
            <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Sucursales</a>
        </div>
        <div class="col-3">
            <br>
            <a href="micinema/salas" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Gestión de Salas</a>
        </div>
        <div class="col-3">
            <br>
            <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Gestión de usuarios</a>
        </div>
    </div>
</div>